<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Oregon Trail - Wahluke TEALS 2022</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="progress" style="width: 0%;"></div>
    <header>
      <h1>Oregon Trail</h1>
      <p>Wahluke TEALS 2022</p>
    </header>

    <main>
      <h2>Stats</h2>
      <div id="stats"><span>a</span><span>b</span></div>

      <h2>Output</h2>
      <div id="output"><span>a</span><span>b</span></div>

      <h2>Actions</h2>
      <div class="actions">
        <button id="travel">Travel</button>
        <button id="rest">Rest</button>
        <button id="hunt">Hunt</button>
        <button id="status">Status</button>
        <button id="help">Help</button>
      </div>
    </main>

    <script src="/static/scripts.js"></script>
  </body>
</html>
